body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    background-color: rgb(179, 122, 231);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 10px;
}
.cell:hover{
    background-color: rgb(144, 86, 198);
}
.cell:active{
    background-color: rgb(122, 36, 203);
}